@import "./../../../App.scss";

.newsLetter {
  display: flex;
  flex-direction: column;
  padding: 80px 0 110px 0;
  text-align: center;
  .heading-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: $margin-bottom-title;
  }
  .form-register__send-letter {
    width: 35%;
    .ant-input-affix-wrapper {
      padding: 0;
      border: none;
      & > input {
        text-align: center;
        padding-bottom: 14px;
        border-bottom: 1px solid $signature-color;
        &:focus {
          border: none;
          border-bottom: 1px solid $hover-textIcon;
        }
      }
      .ant-input-suffix {
        display: none;
      }
      &.ant-input-affix-wrapper.ant-input-affix-wrapper-lg:focus {
        box-shadow: 0 0 0 2px transparent;
      }
    }

    .ant-input-group-addon {
      .ant-btn-primary {
        border: 3px solid $signature-color;
        background: $signature-color;
        &:hover {
          color: $signature-color;
          background: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ant-space.ant-space-vertical {
    padding: 0 30px;
    .form-register__send-letter {
      width: 100% !important;
    }
  }
}
