.section {
  font-size: 50px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 120px;
  margin-left: -webkit-calc(110px + 3%);
  margin-left: calc(110px + 3%);
  margin-right: 320px;
  padding-top: 130px;
}
