.category__page {
  margin-bottom: 130px;
  .category__page__list {
    padding: 0 30px 0 12rem;
    .category__item {
      position: relative;
      cursor: pointer;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .category__page .category__page__list {
    padding: 0;
    padding-top: 10px;
  }
  .category__item.MuiGrid-item {
    padding-top: 10px !important;
    padding-left: 60px !important;
    padding-right: 10px !important;
  }
}
